.alert {
  background-color: #111;
  background-color: rgba(60,60,60,0.8);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #aaa;
  position: fixed;
  padding: 10px 15px;
  z-index: 999;
  left: 50%;
  top: -60px;
  transform: translateX(-50%);
  font-weight: 700;
  transition: top 1s;
}

.active {
  top: 0;
  transition: top 1s;
}

i {
  font-size: 1.25em;
  margin-right: 5px;
}

.danger {
  color: red;
  color: rgba(180,0,0,0.6);
}

.valid {
  color: green;
  color: rgba(0,200,0,0.6);
}