#header {
    background-color: rgb(27, 139, 95);
    padding: 2.5px 0;
}

nav {
    height: 100%;
    background-color: rgb(27, 139, 95);
    float: right;
    display: table;
    margin: 0 20px 0 0;
}

    nav .cell {
        display: table-cell;
        padding: 0 10px;
        vertical-align: middle;
        line-height: 1.25;
        font-size: 1.05em;
        text-align: center;
        font-weight: 700;
        min-width: 60px;
    }

        nav .cell a {
            color: white;
        }

        nav .cell.active {
            background-color: white;
        }

            nav .cell.active a {
                color: rgb(27, 139, 95);
            }

    nav a:hover {
        text-decoration: underline;
    }

#logo {
    padding: 10px 0;
}

    #logo a {
        cursor: pointer;
        height: 100%;
        padding: 0 20px 0 0;
    }