<div id="header">
    <div id="container">
        <div id="logo">
            <a [routerLink]=" ['./'] "
               routerLinkActive="active" 
               [routerLinkActiveOptions]="{exact: true}">
                <img src="assets/img/logo-white-expanded.png" />
            </a>
        </div>
        <!--
        <nav>
            <div class="cell"
                 routerLinkActive="active" 
                 [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]=" ['./'] ">
                    Index
                </a>
            </div>
            <div class="cell" 
                 routerLinkActive="active" 
                 [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]=" ['./detail'] ">
                    Detail
                </a>
            </div>
        </nav>
        -->
    </div>
</div>